<template>
    <div class="container">

        <h1 class="page-header">Query Sample - OData WebAPI Output Format</h1>

        <div class="row">
            <div class="col-md-5">
                <form class="form form-inline" submit.delegate="getData()">
                    <div class="form-group" style="display: block;">
                        <select class="form-control" style="width: 100%;" title="Output format" value.bind="outputType">
                            <option repeat.for="type of outputTypes" model.bind="type">${type.text}</option>
                        </select>
                    </div>
                    <br/>
                    <div class="form-group" style="display: block;" show.bind="languageSelectorVisible">
                        <select class="form-control" style="width: 100%;" title="Text/formatting language" value.bind="language">
                            <option repeat.for="lang of languages" model.bind="lang">${lang.text}</option>
                        </select>
                    </div>
                    <br />
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Sort criterias:</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group-sm well well-sm" repeat.for="sorting of query.sortings">
                                <button type="button" class="close pull-right danger" click.delegate="$parent.query.removeSorting(sorting)">&times;</button>
                                <select id="sortBy" class="form-control" value.bind="sorting.property">
                                    <option repeat.for="prop of $parent.query.properties" model.bind="prop">${prop.text}</option>
                                </select>
                                <div class="checkbox checkbox-inline">
                                    <label style="font-size: 12px"><input type="checkbox" checked.bind="sorting.descending"/> descending</label>
                                </div>
                            </div>
                            <button type="button" class="btn btn-info pull-right" title="Add sort criteria" click.delegate="query.addSorting()">+</button>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Filter predicates:</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group-sm well well-sm" repeat.for="filter of query.filters">
                                <button type="button" class="close pull-right danger" click.delegate="$parent.query.removeFilter(filter)">&times;</button>
                                <select class="form-control" value.bind="filter.property">
                                    <option repeat.for="prop of $parent.query.properties" model.bind="prop">${prop.text}</option>
                                </select>
                                <select class="form-control" value.bind="filter.operator">
                                    <option repeat.for="op of filter.operators" model.bind="op">${op.text}</option>
                                </select>
                                <input type="text" class="form-control" value.bind="filter.value"/>
                            </div>
                            <button type="button" class="btn btn-info pull-right" title="Add filter predicate" click.delegate="query.addFilter()">+</button>
                        </div>
                    </div>


                    <div>
                        <hr />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info form-control">Get data!</button>
                    </div>
                </form>
            </div>
            <div class="col-md-7">
                <div class="form-group">
                    <label for="output" show.bind="!!lastQueryString">Request</label>
                    <pre id="output" style="font-size: x-small" show.bind="!!lastQueryString">${lastQueryString | queryReadablify}</pre>
                    <label for="output" show.bind="!!rawResponseBody">Response</label>
                    <pre id="output" style="font-size: x-small" show.bind="!!rawResponseBody">${rawResponseBody}</pre>
                </div>
            </div>
        </div>
    </div>
</template>
