<template>
    <div class="container">

        <h1 class="page-header">Grid Sample - OData WebAPI Output Format</h1>

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th repeat.for="prop of entityProps">${prop.text}</th>
                </tr>
                </thead>
                <tbody>
                <tr repeat.for="item of dataSource">
                    <td repeat.for="prop of $parent.entityProps">${$parent.item[prop.value.name] | displayFormat} </td>
                </tr>
                </tbody>
            </table>
            <nav class="text-center" if.bind="!!query.pagination">
                <ul class="pagination">
                    <li>
                        <a href="javascript://" aria-label="Previous" click.bind="query.pagination.prev()" enabled.bind="query.pagination.prevEnabled">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="javascript://" aria-label="Next" click.bind="query.pagination.next()" enabled.bind="query.pagination.prevEnabled">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>