<template>
    <div class="container">

        <h1 class="page-header">Grid Sample - OData WebAPI Output Format</h1>

        <div>
            <table class="table">
                <thead>
                <tr>
                    <th repeat.for="prop of entityProps">${prop.text}</th>
                </tr>
                </thead>
                <tbody>
                <tr repeat.for="item of dataSource">
                    <td repeat.for="prop of $parent.entityProps">${$parent.item[prop.value.name] | displayFormat} </td>
                </tr>
                </tbody>
            </table>
            <nav class="text-center" if.bind="!!query.pagination">
                <ul class="pagination">
                    <li>
                        <a href="javascript://" aria-label="Previous" click.trigger="query.pagination.prev()" enabled="${query.pagination.prevEnabled}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li show.bind="query.pagination.pageCount > 0" class="${(query.pagination.pageNumber - 2 < 1 ? 1 : (query.pagination.pageNumber - 2)) === query.pagination.pageNumber ? 'active' : ''}"><a href="#" textcontent="${query.pagination.pageNumber - 2 < 1 ? 1 : (query.pagination.pageNumber - 2)}" click.trigger="query.pagination.gotoPage(query.pagination.pageNumber - 2 < 1 ? 1 : (query.pagination.pageNumber - 2))"></a></li>
                    <li show.bind="query.pagination.pageCount > 1" class="${(query.pagination.pageNumber - 1 < 2 ? 2 : (query.pagination.pageNumber - 1)) === query.pagination.pageNumber ? 'active' : ''}"><a href="#" textcontent="${query.pagination.pageNumber - 1 < 2 ? 2 : (query.pagination.pageNumber - 1)}" click.trigger="query.pagination.gotoPage(query.pagination.pageNumber - 1 < 2 ? 2 : (query.pagination.pageNumber - 1))"></a></li>
                    <li show.bind="query.pagination.pageCount > 2" class="${(query.pagination.pageNumber     < 3 ? 3 : (query.pagination.pageNumber))     === query.pagination.pageNumber ? 'active' : ''}"><a href="#" textcontent="${query.pagination.pageNumber     < 3 ? 3 : (query.pagination.pageNumber    )}" click.trigger="query.pagination.gotoPage(query.pagination.pageNumber     < 3 ? 3 : (query.pagination.pageNumber    ))"></a></li>
                    <li show.bind="query.pagination.pageCount > 3" class="${(query.pagination.pageNumber + 1 < 4 ? 4 : (query.pagination.pageNumber + 1)) === query.pagination.pageNumber ? 'active' : ''}"><a href="#" textcontent="${query.pagination.pageNumber + 1 < 4 ? 4 : (query.pagination.pageNumber + 1)}" click.trigger="query.pagination.gotoPage(query.pagination.pageNumber + 1 < 4 ? 4 : (query.pagination.pageNumber + 1))"></a></li>
                    <li show.bind="query.pagination.pageCount > 4" class="${(query.pagination.pageNumber + 2 < 5 ? 5 : (query.pagination.pageNumber + 2)) === query.pagination.pageNumber ? 'active' : ''}"><a href="#" textcontent="${query.pagination.pageNumber + 2 < 5 ? 5 : (query.pagination.pageNumber + 2)}" click.trigger="query.pagination.gotoPage(query.pagination.pageNumber + 2 < 5 ? 5 : (query.pagination.pageNumber + 2))"></a></li>
                    <li>
                        <a href="javascript://" aria-label="Next" click.trigger="query.pagination.next()" enabled="${query.pagination.prevEnabled}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>