<template>
    <div class="container">

        <h3 class="page-header">Grid Demo</h3>

        <div>
            <form class="form" submit.delegate="getData()">
                <div class="row panel panel-default">
                    <div class="panel-heading" style="padding-right: 2px;">
                        <button type="button" style="margin-top: -8px;" class="btn btn-default pull-right" title="Apply filter"><i class="fa fa-filter"></i> Apply filter</button>
                        <button type="button" style="margin-top: -8px; margin-right: 1px;" class="btn btn-link pull-right" title="Add filter predicate" click.delegate="query.addFilter()"><i class="fa fa-plus"></i></button>
                        <h3 class="panel-title">Filters:</h3>
                    </div>
                    <div class="panel-body" visible.bind="!!query.filters.length">
                        <div class="col-md-3 col-xs-6 form-group-sm well well-sm" repeat.for="filter of query.filters">
                            <span class="small" visible.bind="$index > 0">...and...</span>
                            <button type="button" class="close pull-right danger" click.delegate="$parent.query.removeFilter(filter)">&times;</button>
                            <select class="form-control" value.bind="filter.property">
                                <option repeat.for="prop of $parent.query.properties" model.bind="prop">${prop.text}</option>
                            </select>
                            <select class="form-control" value.bind="filter.operator">
                                <option repeat.for="op of filter.operators" model.bind="op">${op.text}</option>
                            </select>
                            <input type="text" class="form-control" value.bind="filter.value" />
                        </div>
                    </div>
                </div>
            </form>

            <table class="table">
                <thead>
                <tr>
                    <th repeat.for="prop of entityProps" class="${$parent.query.sortings[0].property === prop ? 'active' : ''}">
                        <a href="javascript://" aria-label="Sort" click.trigger="$parent.query.toggleSorting(prop)">${prop.text}</a>
                        <i class="${$parent.query.sortings[0].descending ? 'caret' : 'caret-up'}" visible.bind="$parent.query.sortings[0].property === prop"></i>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr repeat.for="item of dataSource">
                    <td repeat.for="prop of $parent.entityProps">${$parent.item[prop.value.name] | displayFormat} </td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <div class="clearfix">
                <div class="pull-left form-inline">
                    <label>Items per page:</label>
                    <select class="form-control" value.bind="pageSize">
                        <option repeat.for="size of pageSizes" model.bind="size">${size.value}</option>
                    </select>
                </div>
                <div class="form-inline pull-right">
                    <label>Total: </label>
                    <em>${query.pagination.totalCount}</em>
                </div>
                <div>
                    <div class="text-center">
                        <button type="button" class="btn btn-link" title="Download as Excel document" click.delegate="exportToExcel()"><i class="fa fa-file-excel-o"></i> Download</button>
                        <button type="button" class="btn btn-link" title="Download all pages as Excel document" click.delegate="exportToExcel(true)"><i class="fa fa-file-excel-o"></i> Download all pages</button>
                    </div>
                </div>
            </div>
            <nav class="text-center" if.bind="!!query.pagination">
                <ul class="pagination">
                    <li>
                        <a href="javascript://" aria-label="Previous" click.trigger="query.pagination.prev()" enabled.bind="query.pagination.prevEnabled">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li repeat.for="btn of query.pagination.buttons" class="${$parent.query.pagination.pageNumber === btn.pageNumber  ? 'active' : ''}"><a href="javascript://" style="min-width: 3em;" textcontent="${btn.pageNumber}" click.delegate="$parent.query.pagination.gotoPage(btn.pageNumber)"></a></li>

                    <li>
                        <a href="javascript://" aria-label="Next" click.trigger="query.pagination.next()" enabled.bind="query.pagination.nextEnabled">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>